* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-family: monospace;
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: black;
    color: white;
}
#time {
    padding: 10px;
}

.tarefas {
    width: 30%;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 50px;
    font-family: monospace;
    font-size: 20px;
    border: 1px solid black;
}

img {
  width: 12%;
  float: right;
  margin-right: 280px;
  margin-bottom: 120px;
  border-radius: 120px;
  position: fixed;
  transition: all 1.2s;
  cursor: pointer;
}

img:hover {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}


body {
    background: url(https://static.vecteezy.com/system/resources/previews/012/996/908/non_2x/business-presentation-blue-yellow-red-abstract-modern-background-with-geometric-shapes-vector.jpg);
} 

iframe {
    position: relative;
    left: 34%;
    top: 70px;
}